[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
xadmin = {path = "./xadmin-django2.zip"}
pillow = "*"
django-pure-pagination = "*"

[requires]
python_version = "3.7"
