{% extends 'headbar.html' %}
{% load MyTags %}
{% load staticfiles %} {% block main_content %} {% include 'leave_message.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 well">
                <div class="col-md-6 col-md-offset-1">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table-condensed">
                                <tr>
                                    {% for tag in question.tags.all %}
                                        <td>
                                            <a href="{% url 'question:search' %}?searchText={{ tag.name }}">
                                                <h4><span
                                                        class="label {% cycle 'label-info'  'label-warning' 'label-primary'  'label-success' 'label-danger' %}">{{ tag.name }}
                                                </span>
                                                </h4>
                                            </a>
                                        </td>
                                    {% endfor %}
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <h3>{{ question.title }}</h3>
                    </div>
                    <div class="row">
                        <p style="color: gray;">
                            {{ question.desc }}
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <div class="row " style="color: #2aabd2">
                        <div class="text-center">
                            <h4><span
                                    class="glyphicon glyphicon-user"></span>&nbsp;{% if question.asker.nickname %}
                                {{ question.asker.nickname }}{% else %}{{ question.asker.username }}{% endif %}
                            </h4>
                            <h4><span
                                    class="glyphicon glyphicon-heart"></span>&nbsp;{% get_question_likes question.id %}
                            </h4>
                        </div>
                    </div>
                    <div class="row text-center">
                        <a class="btn btn-primary" href="{% url 'question:answer' question.id %}">
                        <span
                                class="glyphicon glyphicon-pencil">写回答
                        </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 well">
                <div class="row">
                    <div class="list-group">
                        <a href="#" class="list-group-item ">
                            <h4 class="text-center"><span
                                    class="glyphicon glyphicon-pencil">{{ question.articles.count }}个回答</span>
                            </h4>
                        </a>
                    </div>
                </div>
                {% if question.articles.count == 0 %}
                    <div class="row">
                        <div class="text-center">
                            <a href="{% url 'question:answer' question.id %}" class="btn btn-primary"><span
                                    class="glyphicon glyphicon-pencil">我要回答</span></a>
                        </div>
                    </div>
                {% else %}
                    <div class="row praise_include">
                        {% for article in question.articles.all|dictsortreversed:'add_time' %}
                            {% with i=forloop.counter %}
                                <div class="row">
                                    <div class="col-md-2">
                                        <a href="{% url 'user:home' article.author.id %}">
                                            <img class="img-circle img-responsive img-thumbnail"
                                                 src="{{ MEDIA_URL }}{{ article.author.image }}"/>
                                        </a>
                                    </div>
                                    <div class="col-md-7">
                                        <a href="{% url 'user:home' article.author.id %}">
                                            <h4>{{ article.author.nickname|default:article.author.username }}</h4>
                                        </a>
                                        <p style="color: gray">{{ article.author.self_description }}</p>
                                    </div>
                                    {% if request.user.is_authenticated %}
                                        {% if request.user.id != article.author.id %}
                                            <div class="col-md-3">
                                                {% if article.author in request.user.id|my_follows %}
                                                    <button name="focus" id="cancel" type="button"
                                                            class="btn btn-primary"
                                                            value="{{ article.author.id }}">
                                                        取消关注
                                                    </button>
                                                {% else %}
                                                    <button name="focus" id="ok" type="button" class="btn btn-primary"
                                                            data-placement="top" data-toggle="popover"
                                                            data-trigger="focus"
                                                            data-content="不能关注自己哦！"
                                                            value="{{ article.author.id }}">
                                                        关注
                                                    </button>
                                                {% endif %}
                                                <button name="message" type="button" class="btn btn-primary"
                                                        data-toggle="modal"
                                                        userId="{{ article.author.id }}"
                                                        who="{{ article.author.nickname }}">私信
                                                </button>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="row" style="margin-top: 10px">
                                    <div class="col-md-12">
                                        <div class="content">
                                            {% autoescape off %} {{ article.content }} {% endautoescape %}
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-1 h4">
                                        <a data-toggle="collapse" href="#collapseComment{{ i }}"><span
                                                class="glyphicon glyphicon-comment"><code>{{ article.comments.count }}</code>&nbsp;</span>
                                        </a>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="praise">
                                        <span class="praiseParent"><img src="{% static 'img/zan.png' %}"
                                                                        id="praise-img"/></span>
                                            <span id="praise-txt"
                                                  ArticleId='{{ article.id }}'>{{ article.up_nums }}</span>
                                            <span id="add-num"><em>+1</em></span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 h4">
                                        <span class="glyphicon glyphicon-calendar"><code>{{ article.add_time|date:'M  j号 Y年' }}</code>&nbsp;</span>
                                    </div>
                                </div>
                                <hr/>
                                {% include 'comment.html' %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4 well">
                <div class="row">
                    <div class="list-group">
                        <a class="list-group-item ">
                            <h4 class="text-center"><span class="glyphicon glyphicon-list-alt">相关问题</span>
                            </h4>
                        </a>
                    </div>
                    <div class="list-group">
                        {% for question in questions %}
                            <a href="{% url 'question:article' question.id %}" class="list-group-item"
                               style="background-color:{% cycle '#dff0d8'  '#d9edf7' '#fcf8e3'  '#f2dede' %};">
                                {{ question.title }}
                                <br>
                                <small style="color: gray">{% get_question_likes question.id %}个<span
                                        class="glyphicon glyphicon-heart"></span></small>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {  //关注和取消关注
            $('button[name="focus"]').click(function () {
                var focusObject = $(this);
                $.ajax({
                    url: '{% url "user:follow" %}',
                    type: 'get',
                    dataType: 'text',
                    data: {
                        'follower_id': {{ request.user.id|default:'-1' }},
                        'followee_id': focusObject.val(),
                        'follow_tip': focusObject.attr('id')
                    },
                    success: function (data) {
                        if (data === 'canceled') {
                            focusObject.html('关注');
                            focusObject.attr('id', 'ok')
                        }
                        else if (data === 'focused') {
                            focusObject.html("取消关注");
                            focusObject.attr('id', 'cancel')
                        }
                        else if (data === 'redirect') {
                            $(window).attr('location', '{% url 'user:login_reg' %}');
                        }
                        else if (data === 'self') {
                            $('[data-toggle="popover"]').popover();
                        }
                    },
                    error: function () {
                        alert('出现错误!');
                    }
                });
            });
        });

        $(function () {  //提交评论
            $('button[name="submitComment"]').click(function () {
                var buttonObj = $(this);
                var value = buttonObj.val();
                var inputText = '#' + value;
                var article_id = $(inputText).attr('name');
                var id_list_group = '#list_group' + article_id;

                $.ajax({
                    url: '{% url 'question:comment' %}',
                    type: 'post',
                    dataType: 'text',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    data: {
                        'comment_content': $(inputText).val(),
                        'article_id': article_id
                    },
                    success: function (data) {
                        if (data === 'ok') {
                            var string = '<a class="list-group-item">\n' +
                                '                <div class="row">\n' +
                                '                    <div class="col-md-2">\n' +
                                '                        <img width="80" height="80" class="img-circle img-responsive img-thumbnail"\n' +
                                '                             src="{{ MEDIA_URL }}{{ request.user.image }}"/>\n' +
                                '                    </div>\n' +
                                '                    <div class="col-md-7">\n' +
                                '                        <h4>{{ request.user.nickname|default:request.user.username }}</h4>\n' +
                                '                        <p style="color: gray;">{{ request.user.self_description }}</p>\n' +
                                '                    </div>\n' +
                                '                    <div class="col-md-3">\n' +
                                '                        <p>刚刚发表</p>\n' +
                                '                    </div>\n' +
                                '                </div>\n' +
                                '                <div class="row">\n' +
                                '                    <div class="col-md-10 col-md-offset-1">\n' +
                                '                        <h4>' + $(inputText).val() + '</h4>\n' +
                                '                    </div>\n' +
                                '                </div>\n' +
                                '                <div class="row">\n' +
                                '                    <div class="col-md-offset-1">\n' +
                                '                        <div  class="praise" style="margin-bottom: 20px">\n' +
                                '                            <span class="praiseParent"><img src="{% static 'img/zan.png' %}" id="praise-img"/></span>\n' +
                                '                            <span id="praise-txt">0</span>\n' +
                                '                            <span id="add-num"><em>+1</em></span>\n' +
                                '                        </div>\n' +
                                '                    </div>\n' +
                                '                </div>\n' +
                                '            </a>';
                            $(id_list_group).append(string)
                        }
                        else if (data === 'redirect') {
                            $(window).attr('location', '{% url 'user:login_reg' %}');
                        }
                    },
                    error: function () {
                        alert('出现错误!');
                    }
                });
            });
        });

        $(function () {  //点赞和取消点赞
            $(".praise_include").on('click', '.praiseParent', function () {  //使用动态绑定父元素praise_include，这样可以发表后直接点赞
                //因为当前评论由js动态生成，不能直接绑定
                var praise_img = $(this).children();
                var praise_num = $(this).next();
                var article_id = praise_num.attr('ArticleId');
                var comment_id = praise_num.attr('CommentId');
                var text_box = $(this).siblings().eq(1);
                var num = parseInt(praise_num.text());
                if (praise_img.attr("src") === ("{% static 'img/yizan.png' %}")) {  //取消赞
                    $(this).html("<img src='{% static 'img/zan.png' %}' id='praise-img' class='animation' />");
                    praise_num.removeClass("hover");
                    text_box.show().html("<em class='add-animation'>-1</em>");
                    $(".add-animation").removeClass("hover");
                    num -= 1;
                    praise_num.text(num);
                    $.ajax({
                        url: "{% url 'question:thumbUp' %}",
                        type: 'post',
                        dataType: 'text',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        data: {
                            'article_id': article_id,
                            'comment_id': comment_id,
                            'action': 'cancel'
                        },
                        success: function (data) {
                            if (data === 'redirect') { //未登录
                                $(window).attr('location', '{% url 'user:login_reg' %}');
                            }
                        },
                        error: function () {
                            alert('出现错误!');
                        }
                    });
                } else {//点赞
                    $(this).html("<img src='{% static 'img/yizan.png' %}' id='praise-img' class='animation' />");
                    praise_num.addClass("hover");
                    text_box.show().html("<em class='add-animation'>+1</em>");
                    $(".add-animation").addClass("hover");
                    num += 1;
                    praise_num.text(num);
                    $.ajax({
                        url: "{% url 'question:thumbUp' %}",
                        type: 'post',
                        dataType: 'text',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        data: {
                            'article_id': article_id,
                            'comment_id': comment_id,
                            'action': 'ok'
                        },
                        success: function (data) {
                            if (data === 'redirect') { //未登录
                                $(window).attr('location', '{% url 'user:login_reg' %}');
                            }
                        },
                        error: function () {
                            alert('出现错误!');
                        }
                    });
                }
            });
        });

        $(function () {
            $('button[name="message"]').click(function () {
                var messageObject = $(this);
                var userId = messageObject.attr('userId');
                var who = messageObject.attr('who');
                $('#messsage_to').html('私信给: ' + who);
                $('#leave_message').modal();
                $('#sendTo').unbind('click');  //在click中再绑定click，多重绑定,所以先取消
                $('#sendTo').click(function () {
                    $.ajax({
                        url: "{% url 'user:message' %}",
                        type: 'post',
                        dataType: 'text',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        data: {
                            'from_user_id': {{ request.user.id }},
                            'message_text': $('#message_text').val(),
                            'to_user_id': userId
                        },
                        success: function (data) {
                            if (data === 'ok') {
                                var string = '<p class="text-center text-primary" id="sendTips" style="font-size:20px;" ><strong>发送成功~</strong></p>';
                                $('#privateMessageBody').append(string).delay('slow').fadeIn();
                            }
                            else if (data === 'fail') { //查无此人
                                var string = '<p class="text-center text-danger" id="sendTips" style="font-size:20px;" ><strong>发送失败！</strong></p>';
                                $('#privateMessageBody').append(string).delay('slow').fadeIn();
                            }
                            else if (data === 'redirect') { //未登录
                                $(window).attr('location', '{% url 'user:login_reg' %}');
                            }
                        },
                        error: function () {
                            alert('出现错误!');
                        }
                    });
                });

            });
        });

        $(function () {  //监听madal的关闭，清空原来数据
            $('#leave_message').on('hide.bs.modal', function () {
                $('#message_text').val('');
                $('#sendTips').remove();
            })
        })

    </script>
{% endblock %}