{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    {% include 'static_lib.html' %}
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigtion</span>
                </button>
                <a href="{% url 'index' %}"><img width="70" height="50" src="{% static 'img/logo.png' %}"></a>

            </div>
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <form class="navbar-form navbar-left" action="{% url 'question:search' %}" method="get">
                    {% csrf_token %}
                    <div class="form-group">
                        <input id="searchText" type="text" value="{{ searchText|default:"" }}" class="form-control"
                               size="60" placeholder="搜索你感兴趣的问题或话题标签" name="searchText"/>
                    </div>
                    <button type="submit" id="searchButton" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{% url 'index' %}"><span class="glyphicon glyphicon-home">首页</span></a>

                    </li>

                </ul>

                <ul class="nav navbar-nav">
                    <li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary navbar-btn" data-toggle="modal"
                                data-target="#myModal">提问
                        </button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li>
                        {% if request.user.is_authenticated %}
                            <a href="" class="dropdown-toggle " data-toggle="dropdown">
                                {% if request.user.nickname %}
                                    <b>{{ request.user.nickname }}</b>
                                {% else %}
                                    <b>{{ request.user.username }}</b>
                                {% endif %}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'user:home' request.user.id %}"><span
                                            class="glyphicon glyphicon-home">&nbsp;我的主页</span></a>
                                </li>
                                <li>
                                    <a href="#"><span
                                            class="glyphicon glyphicon-envelope">&nbsp;我的私信</span></a>
                                </li>
                                <li>
                                    <a id="logout" href="{% url 'user:logout' %}"><span class="glyphicon glyphicon-off">&nbsp;退出</span></a>
                                </li>
                            </ul>
                            <li>
                                <div>
                                    <a href="{% url 'user:home' request.user.id %}">
                                        <img width="60" height="60" class="img-circle img-responsive img-thumbnail"
                                         src="{{ MEDIA_URL }}{{ request.user.image }}"/>
                                    </a>
                                </div>
                            </li>
                        {% else %}
                            <a href="{% url 'user:login_reg' %}" style="padding-top: 7.5px; padding-bottom: 7px">
                                <button type="button" class="btn btn-danger" >请登录</button>
                            </a>
                        {% endif %}
                </ul>

            </div>
        </div>
    </div>
</nav>

{% include 'ask_question.html' %}
<br/> {% block main_content %}{% endblock %}
</body>

</html>