{% extends 'headbar.html' %}
{% load staticfiles %}

{% block main_content %}
    <div class="col-md-8 col-md-offset-2 ">
        <div class="col-md-2">
            <h4><b>最近联系</b></h4>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2 " id="inboxBody">

        {% for message in message_list %}
            <div class="row
        {% if message.from_user_id == request.user.id %}
               alert alert-info
        {% elif message.to_user_id == request.user.id %}
               alert alert-success
        {% endif %}
      ">
                <div class="col-md-2 alert">
                    <a href="{% url 'user:home' message.from_user_id %}">
                        <img class="img-circle img-responsive img-thumbnail"
                             src="{{ MEDIA_URL }}{{ message.from_user.image }}"/>
                    </a>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        {% if message.from_user_id == request.user.id %}
                            <h4>
                                你&nbsp;&nbsp;&nbsp;回复:&nbsp;&nbsp;&nbsp;{{ message.to_user.nickname|default:message.to_user.username }}
                            </h4>
                        {% elif message.to_user_id == request.user.id %}
                            <h4>
                                {{ message.from_user.nickname|default:message.from_user.username }}&nbsp;&nbsp;&nbsp;回复:&nbsp;&nbsp;&nbsp;你
                            </h4>
                        {% endif %}
                    </div>
                    <div class="row">
                        <p style="font-size: medium">
                            {{ message.content }}
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <p style="color: gray">
                                {{ message.add_time|date:'M j日 G:i' }}
                            </p>
                        </div>
                        <div class="col-md-3 col-md-offset-6 text-center">
                            <button name="reply" type="button" class="btn btn-primary" data-toggle="modal"

                                    {% if message.from_user_id == request.user.id %}
                                    userId="{{ message.to_user_id }}"
                                    who="{{ message.to_user.nickname|default:message.to_user.username }}"
                                    {% elif message.to_user_id == request.user.id %}
                                    userId="{{ message.from_user_id }}"
                                    who="{{ message.from_user.nickname|default:message.from_user.username }}"
                                    {% endif %}
                            >回复
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    {% include 'leave_message.html' %}
    <script>
        $(function () {
            $('button[name="reply"]').click(function () {
                var messageObject = $(this);
                var userId = messageObject.attr('userId');
                var who = messageObject.attr('who');
                $('#messsage_to').html('回复给: ' + who);
                $('#leave_message').modal();
                $('#sendTo').unbind('click');  //在click中再绑定click，多重绑定,所以先取消
                $('#sendTo').click(function () {
                    $.ajax({
                        url: "{% url 'user:message' %}",
                        type: 'post',
                        dataType: 'text',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        data: {
                            'from_user_id': {{ request.user.id }},
                            'message_text': $('#message_text').val(),
                            'to_user_id': userId
                        },
                        success: function (data) {
                            if (data === 'ok') {
                                var string = '<p class="text-center text-primary" id="sendTips" style="font-size:20px;" ><strong>发送成功~</strong></p>';
                                $('#privateMessageBody').append(string).delay('slow').fadeIn();
                            }
                            else if (data === 'fail') { //查无此人
                                var string = '<p class="text-center text-danger" id="sendTips" style="font-size:20px;" ><strong>发送失败！</strong></p>';
                                $('#privateMessageBody').append(string).delay('slow').fadeIn();
                            }
                            else if (data === 'redirect') { //未登录
                                $(window).attr('location', '{% url 'user:login_reg' %}');
                            }
                        },
                        error: function () {
                            alert('出现错误!');
                        }
                    });
                });

            });
        });

        $(function () {  //监听madal的关闭, 刷新页面
            $('#leave_message').on('hide.bs.modal', function () {
                if ($("#sendTips").length > 0) {//判断是否发送私信，有的话就刷新
                    $(window).attr('location', '{% url 'user:message' %}');
                }
            })
        })


    </script>
{% endblock %}